In [ ]:
# <DB 접속 및 사용순서>
# 1 DB 드라이버 연결 
# 2. DBconnection 접속
# 3. 커서 받아오기 
# 4. sql 구문 작성 및 실행요청
# 5.
# 6.커서반환 > DB Connection 접속해제
#

#오라클 라이브러리 불러들이기 
import cx_Oracle

### 1. DB드라이버 연결하기 (서버찾아가가)

In [ ]:
dsn = cx_Oracle.makedsn("localhost", 1521, "xe")

### 2. DB접속하기 (connect)

In [ ]:
conn = cx_Oracle.connect("gwangju_a","dbdb",dsn)

### 3.커서(cursor)받아오기 (서버로 SQL구문을 실어나르고, 결과 받아오는 역할)

In [ ]:
cursor = conn.cursor()

### 4.SQL 구문 작성 및 실행요청(커서가 처리함)

In [ ]:
### sql 요청 구문 작성하기
### 회원정보에서 회원아이디, 회원이름, 회원주소1 조회하기 
sql = """
SELECT mem_id , mem_name, mem_add1
FROM MEMBER
ORDER BY mem_name asc
"""

In [ ]:
### 구문을 서버에게 보내서 요청하고, 결과를 받아오기 -> 커서가 수행함 
cursor.execute(sql)

In [ ]:
###커서가 DB서버로부터 받아온 결과값 추출하기
# - 여러건 조회 : fetchall()
# - 한건조회 : fetchone()
rows = cursor.fetchall()

In [ ]:
rows

In [10]:
### 조회 결과에 대한 컬럼명만 조회하기( 커서가 가지고있음)
colname = cursor.description

In [ ]:
###데이터 베이스에서 조회한 결과의 컬럼명은 모두 대문자  
# - 프로그램에서 사용할 때는 소문자로 바꿔서 사용
colname

In [ ]:
### 컬럼명만 추출하여 col = [] 변수에 담기
# - 추출한 컬럼명은 소문자로 변환해서 col리스트 변수에 담기

#for문 안에서 값을 담아서 누적시키기위해 전역변수로 선언 
col= []
for t in colname :
    # col 리스트 변수에 값을 추가하기 : append(값) 사용
    col.append(t[0].lower())
col

In [ ]:
### html에서 사용할수 있도록 하기 위해서 
# - [{"mem_id": "a001", "mem_name":"asdfasdf", "mem_add1":"광주..."},
#   {"mem_id": "a001", "mem_name":"asdfasdf", "mem_add1":"광주..."},
# {},{} ,,, ] 형태로 변환하기
# - 최종결과값을 담을 변수명 : list_row
list_rows = []
for t in rows: 
    dict_temp ={}
    for i in range(0,len(col), 1):
        #print(col[i], t[i])  #출력결과확인
        dict_temp[col[i]] = t[i]
    list_row.append(dict_temp)
list_row

### 6.커서반환 > DB Connection 접속해제

In [56]:
### 커서(cursor) 반환하기
cursor.close()
### 접속(connect)접속 해제
conn.close()